* {
  box-sizing: border-box;
}
/* #form_box {
  padding: 100px 0;
  text-align: center;
}
#form_table {
  padding: 0 70px 50px;
  box-shadow: 0 0 5px;
}
#form_td {
  padding: 1px;
} */
.card {
  margin-top: 80px;
}
/* #report_card {
  top: 55px;
} */
